body {
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.book-card {
    cursor: pointer;
    transition: transform 0.2s;
    height: 100%;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.book-cover {
    height: 300px;
    width: 100%;
    object-fit: contain;
}

#modalBookCover {
    width: 100%;
    height: auto;       
    max-height: 500px;
    object-fit: contain; 
}

.status-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    z-index: 10;
}

.bg-lendo { background-color: #ffc107; color: #000; }
.bg-paraler { background-color: #0d6efd; }
.bg-lido { background-color: #198754; }

/* Configurações Modal Layout */
.config-grid .row {
    margin-bottom: 15px;
    align-items: center;
}

[data-bs-theme="dark"] footer {
    background-color: #212529;
    border-top: 1px solid #444;
}

/* Coruja nav-bar */
.navbar-brand img {
    width: 30%;
    height: 30%;
}

/* Botão de Configurações */
.btn-light {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    transition: color 0.3s;
}

/* Textos do Nav-Bar */
.navbar-item {
    font-size: 1.2rem;
    margin-right: 15px;
}