.book-card {
    cursor: pointer;
    transition: transform 0.2s;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.4) !important;
}

.book-cover {
    height: 300px;
    width: 100%;
    object-fit: contain !important;
}

.badge-status {
    z-index: 10;
    font-size: 0.8rem;
}